<main id='about'>
  <div class='bg-about'></div>
  <div class='about-container'>
    <h1 class='lg-heading about-heading'>My <span class='text-secondary'>Bio</span></h1>
    <h2 class='sm-heading about__title'>
    	I'm spending my free time increasing my knowledge by reading books and developing websites
    </h2>
    <hr />
    <p class='about__p'>
      I always enjoy learning new things.
      </p>
      <p class='about__p'>
		  Some technology I like to work with in <b>web development</b> are MongoDB,ExpressJS ReactJS and Node.
      </p>
      <!--
      <p class='about__p'>
        In my free time, I became a private tutor for elementary school children, and riding road-bike in Jakarta.
      </p>
	  -->
      <p class='about__p'>
        <a href='mailto:ponnamakhil1896@gmail.com'>
          <i class='fas fa-envelope-open-text fa-2x icon-fa'></i> Shoot me an email at <span>ponnamakhil1896@gmail.com</span>
        <a/>
      </p>
  </div>

</main>
