<main id='home'>
  <div class='bg-home'></div>
  <div class='home-container'>
    <h1 class='lg-heading home__heading'>Akhil <span class='text-secondary'>Ponnam</span></h1>
    <h2 class='sm-heading home__title'>
      Full stack developer & entrepreneur.
    </h2>
    <a href='https://github.com/ponnamakhil1896' class='icon-fa' target='_blank'>
      <i class='fab fa-github fa-2x'></i>
    </a>
    <a href='https://www.linkedin.com/in/akhil-kumar-ponnam-8aaa62b7/' class='icon-fa' target='_blank'>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
</main>
